My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2c97265f-1c20-42d6-9393-de3e6b3fc541",
      "name": "Telegram Trigger",
      "webhookId": "33cafb4e-acea-448c-ba63-597b0f57e4df",
      "credentials": {
        "telegramApi": {
          "id": "ZXigBkupgxViJYul",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Kamu adalah asisten AI yang ramah dan santai. \nGunakan bahasa yang mudah dimengerti dan tidak terlalu formal. \nJawab pertanyaan dengan jelas, singkat, dan langsung ke inti. \nBerikan solusi praktis yang mudah dilakukan pengguna. \nJika kamu tidak tahu jawabannya, katakan dengan jujur dan tawarkan alternatif."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "51c2de53-19b4-4b11-9b7f-19c4d480baf4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        16
      ],
      "id": "7ffc0c3b-e244-4c0b-9d52-37fafd785e8c",
      "name": "Send a text message",
      "webhookId": "18ae4c31-4cea-41a4-8a8f-ca3e7f439a17",
      "credentials": {
        "telegramApi": {
          "id": "rg0scTPtYHBGuGjQ",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool retrieves relevant context from Pinecone based on the user's query by performing vector similarity search.\n\nWAJIB gunakan tool ini untuk semua pertanyaan tentang fakta, informasi, presiden, sejarah, teknologi, atau data spesifik apapun. Selalu cari di knowledge base terlebih dahulu sebelum menjawab.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "project",
          "mode": "list",
          "cachedResultName": "project"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        208
      ],
      "id": "14826ce8-4639-494a-a392-52b4827d570b",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "XPptwYic6MUFDFhl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        416
      ],
      "id": "6f75a829-1321-4fa1-9f90-594a419ba221",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Gc9wfct1cV9v4j3i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "430346df-ff92-4b68-aa7a-6133d191db9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Gc9wfct1cV9v4j3i",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "892d9613-a2c1-43fb-bdf1-253c598ec499",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0b05e0e3be1a1b84fbd4f9eec0e4b6f08b1920485b8b4ce6a4800796acffaaa"
  },
  "id": "bLNDJPS7UR2PPCN4",
  "tags": []
}